Repository cefsharp/CefSharp, pull requests merged in 2019-02, with the labels that each got.

#2637 WinForms avoid throwing exception when setting BrowserSettings to null
  CefSharp.WinForms/ChromiumWebBrowser.cs
Labels: winforms

#2649 WPF - Fix compile error because of IDE1006 Naming rule violation
  CefSharp.Wpf/ChromiumWebBrowser.cs
Labels: wpf

#2640 Build.ps1 - Automated more tasks relating to updating CefSharp version and copyright year
  .editorconfig
  CefSharp.BrowserSubprocess.Core/Resource.rc
  CefSharp.Core/Resource.rc
  CefSharp.shfbproj
  CefSharp/Properties/AssemblyInfo.cs
  LICENSE
  NuGet/CefSharp.Common.nuspec
  NuGet/CefSharp.OffScreen.nuspec
  NuGet/CefSharp.WinForms.nuspec
  NuGet/CefSharp.Wpf.nuspec
  build.ps1
Labels: enhancement
