Repository cefsharp/CefSharp, pull requests merged in 2019-07, with the labels that each got.

#2814 WinForms - Add Shift+Tab to IsInputKey (used when MultiThreadedMessageLoop is disabled)
  CefSharp.WinForms/ChromiumWebBrowser.cs
Labels: winforms

#2817 WPF - Fix and improve touch and stylus
  CefSharp.Wpf/ChromiumWebBrowser.cs
  CefSharp.Wpf/Experimental/ChromiumWebBrowserWithTouchSupport.cs
Labels: wpf

#2829 Javascript Integration - Passing empty array in JS now maps to empty list/array instead of null
  CefSharp.BrowserSubprocess.Core/Serialization/V8Serialization.cpp
  CefSharp.Example/Resources/BindingTest.html
Labels: breaking-change

#2844 WPF - Use Canvas.Top="0" for PART_image absolute position.
  CefSharp.Wpf/Themes/Generic.xaml
Labels: wpf
